/* Sayfa genel stili */
body {
    
    padding: 0;
    height: 350vh;
    background: #000000; /* Sayfanın arka planını siyah yapıyoruz */
  }
  
  /* Resmin stilini ve geçişi ayarlıyoruz */
  .container {
    position: relative;
    width: 100%;
    height: 100%;
    
  }
  
  /* Geçiş efekti ekliyoruz */
 
  
  