/* Header genel ayarları */
.header {
  position: fixed; /* Ekranın üst kısmında sabit durmasını sağlar */
  top: 0;
  width: 100%; /* Tüm genişliği kaplar */
  height: 70px;
  background-color: rgba(0, 0, 0, 0); /* Arka plan rengi */
  padding: 20px 40px; /* İç boşluk */
  display: flex; /* Flexbox düzeni */
  align-items: center; /* Dikeyde ortala */
  justify-content: space-between; /* Sol ve sağa yay */
  z-index: 1000; /* Üstte görünmesi için yüksek z-index değeri */
} 

/* Logo container */
.logo-container {
  display: flex; /* Logo için bir container */
  align-items: center;
}

.logo {
  width: 60px; /* Logonun genişliğini ayarlayın */
  height: auto; /* Yükseklik otomatik olarak oranı korur */
  transition: transform 0.3s ease; /* Hover animasyonu için */
}

.logo:hover {
  transform: scale(1.1); /* Hover durumunda logoyu %10 büyüt */
}


/* Navigation listesi */
.nav-list {
  display: flex; /* Listeyi yan yana yerleştirir */
  justify-content: flex-end; /* Sağ tarafa hizalar */
  list-style: none; /* Nokta ya da numara görünmez */
  margin: 0; /* Dış boşluk sıfır */
  padding: 0; /* İç boşluk sıfır */
}

.nav-list li {
  font-family: 'Poppins', sans-serif; /* Font burada uygulanıyor */
  font-size: 18px;
  font-weight: 100; /* Daha kalın bir yazı için */
  margin-left: 30px; /* Linkler arasına boşluk */
}

/* Navigation linkleri */
.nav-list a {
  color: white; /* Yazı rengi */
  text-decoration: none; /* Alt çizgi kaldırılır */
     /* Yazı boyutu */
  font-weight: bold; /* Kalın yazı */
  transition: color 0.3s ease; /* Renk değişiminde geçiş animasyonu */
}

.nav-list .home-link {
  background: linear-gradient(to right, #ff6161, #ffc78b); /* Turuncu tonlarında linear gradient */
  color: transparent; /* Metin rengini şeffaf yap */
  background-clip: text; /* Gradient'i metne uygulama */
  -webkit-background-clip: text; /* Webkit tarayıcılar için */
  text-decoration: none; /* Alt çizgiyi kaldır */
  cursor: pointer;
}

.nav-list .about-link {
  background: linear-gradient(135deg, #fbff00, #22ff00); /* Turuncu tonlarında linear gradient */
  color: transparent; /* Metin rengini şeffaf yap */
  background-clip: text; /* Gradient'i metne uygulama */
  -webkit-background-clip: text; /* Webkit tarayıcılar için */
  text-decoration: none; /* Alt çizgiyi kaldır */
  cursor: pointer;
}

.nav-list .events-link {
  background: linear-gradient(135deg,#00fff2, #0101ff); /* Yeşil tonlarında linear gradient */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
  cursor: pointer;
}

.nav-list .profile-link {
  background: linear-gradient(90deg, #8100f9, #fa00ed); /* Mavi tonlarında linear gradient */
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
  cursor: pointer;
}
.nav-list .join-link {
  background: linear-gradient(to right, #ff00dd, #ff0000); /* Turuncu tonlarında linear gradient */
  color: transparent; /* Metin rengini şeffaf yap */
  background-clip: text; /* Gradient'i metne uygulama */
  -webkit-background-clip: text; /* Webkit tarayıcılar için */
  text-decoration: none; /* Alt çizgiyi kaldır */
  cursor: pointer;
}

.nav-list .home-link:hover {
  filter: brightness(80%); /* Daha koyu bir turuncu ve kırmızımsı ton */
  
}
/* Hover sırasında renk değiştirme */
.nav-list .about-link:hover {
  filter: brightness(80%); /* Daha koyu bir turuncu ve kırmızımsı ton */
  
}

.nav-list .events-link:hover {
  filter: brightness(80%);
}

.nav-list .profile-link:hover {
  filter: brightness(80%);
}
.nav-list .join-link:hover {
  filter: brightness(80%); /* Daha koyu bir turuncu ve kırmızımsı ton */
  
}

@media (max-width: 768px) {
  .header {
    position: fixed; /* Ekranın üst kısmında sabit durmasını sağlar */
    height: 70px;
    padding: 20px 40px; /* İç boşluk */
    display: flex; /* Flexbox düzeni */
  }
  .nav-list li {
    font-size: 14px;
    font-weight: 80; /* Daha kalın bir yazı için */
    margin-left: 30px; /* Linkler arasına boşluk */
  }
  .logo {
    width: 40px; /* Logonun genişliğini ayarlayın */
    
  }
}

@media (max-width: 480px) {
  
}